.widget .widget-header {

    line-height: 35px !important;
}

.cust_widg{
    padding: 10px;height: 500px;
}
.margin7{
    margin: 7px;
}

.toppadding{
    padding-top:12px;
    padding-right:10px;
}

.othpadding{
    padding-right:10px;

}

.dashpadding{
    padding-top: 8px;
}

#chartContainer {
    margin-top: 30px;
    height: 500px;
    width: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#wrapper{
    padding-left: 10px !important;
}