/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #fff;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0 !important;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.panel{
  background-color: #f3f1f1 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.huge {
    font-size: 50px;
    line-height: normal;
}
.navbar-fixed-top {
  background-color: #3a4757 !important;
}
.navbar-header {
  float: left;
  width: 225px !important;
  background-color: #1a1c29 !important;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px 15px !important;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
      height:100%;
    }
}

/* Top Navigation */
.navbar-inverse{
  color: #fff !important;
  background-color: #3a4757 !important;
  border: .01em solid #2f3946 !important;
}

.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #000 !important;
  border: .01em solid #2f3946 !important;
}

#footer{
  background-color: #0D7;
  bottom: 0;
  color: #2f3946;
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
  border: none !important;
  border-bottom: 1px solid #505e6f !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: right !important;
  min-width: 160px;
  padding: 10px 2px;
  width: 100% !important;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #1a1c29 !important;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav {
  padding: 0 1px !important;
  background-color: #3a4757 !important;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a1c29 !important;
}

.top-nav>.open>.dropdown-menu {
    float: right;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.modal-backdrop{

    z-index: 2 !important;
}
/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
      position: fixed;
      top: 51px;
      left: 225px;
      width: 225px;
      margin-left: -225px;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      background-color: #3a4757;
      bottom: 0;
      overflow-x: hidden;
      padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
      outline: none;
      background-color: #2e3649 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.row>div {

}
/*classes are added for customize alert box and loader*/


.locked {
    position: fixed;
    z-index: 1060!important;
    top: 0;
    left: 0;
    background-color: #FFF;
    opacity: .5;
    height: 100%!important;
    width: 100%!important;
}

/*.customMSGbox_overlay {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*z-index: 0; !*999998*!*/
/*}*/

.customMSGbox {
    width: 300px;
    border: 5px solid #46b8da;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background: #fff;
    z-index: 1;
    padding: 0px;
    padding-bottom: 60px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    border-radius: 4px;
}

.customMSGbox .msgcontent {
    padding: 10px;
    text-align: center;
}

.customMSGbox .msgbtn {
    border-top: 1px solid #46b8da;
    padding: 10px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.customMSGbox .msgbtn button {
    margin-right: 10px;
    background: #46b8da;
    padding: 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/*align center class added by Mahiruddin on Date : 11/06/2016*/
.align_center{
    text-align: center;
}


.page-header {
  padding-bottom: 6px !important;
  margin: 20px 0 0 !important;
  border-bottom: 1px solid #eee;
}

input[type="date"] {
  line-height: 18px !important;
}
