@CHARSET "UTF-8";
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet MS.eot');
    src: url('../fonts/Trebuchet MS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Trebuchet MS.woff') format('woff'), url('../fonts/Trebuchet MS.ttf') format('truetype'), url('../fonts/Trebuchet MS.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: "Trebuchet MS";
}

body {
    background-color: #ffffff !important;
}

.ui_tpicker_unit_hide {
    display: none;
}

.login-form {
    max-width: 350px;
    margin: 100px auto;
    font: 16px/1.6em Lato, serif;
}

.login-form .panel {
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-form .panel .panel-heading {
    color: #fff;
    background: #102434;
    text-align: center;
    line-height: 2.5em;
    font-weight: bold;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
}

.login-form .panel .panel-body {
    background: #f2f2f2;
    padding: 36px 26px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}

form[role=login] {
    color: #5d5d5d;
}

form[role=login] input,
form[role=login] button {
    font-size: 14px;
    font-weight: bold;
}

form[role=login] input[type="email"] {
    margin-bottom: -4px !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border: 3px solid #89d1fb;
    color: #89d1fb;
}

form[role=login] input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border: 3px solid #89d1fb;
    color: #89d1fb;
}

form[role=login] input:first-child,
form[role=login] input:first-child:active {
    border-bottom: 1px solid #89d1fb;
}

form[role=login] input::-webkit-input-placeholder {
    color: #89d1fb;
}

form[role=login] input:-moz-placeholder {
    color: #89d1fb;
}

form[role=login] input::-moz-placeholder {
    color: #89d1fb;
}

form[role=login] input:-ms-input-placeholder {
    color: #89d1fb;
}

form[role=login] button.btn-block {
    margin: 25px 0 30px 0;
}

.form-links {
    margin: 0;
}

.form-links a {
    line-height: 2.1em;
}

.form-links span {
    display: inline-block;
    margin-right: 10px;
}

.external-links {
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 50px;
}

.pager {
    margin: 0 !important;
}

.pager li a {
    margin: 0 10px !important;
}

.locked {
    position: fixed;
    z-index: 1060!important;
    top: 0;
    left: 0;
    background-color: #FFF;
    opacity: .5;
    height: 100%!important;
    width: 100%!important;
}

.customMSGbox_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999998
}

.customMSGbox {
    width: 300px;
    border: 5px solid #46b8da;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background: #fff;
    z-index: 999999;
    padding: 0px;
    padding-bottom: 60px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
    border-radius: 4px;
}

.customMSGbox .msgcontent {
    padding: 10px;
    text-align: center;
}

.customMSGbox .msgbtn {
    border-top: 1px solid #46b8da;
    padding: 10px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.customMSGbox .msgbtn button {
    margin-right: 10px;
    background: #46b8da;
    padding: 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.modal-dialog {
    width: 90% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 auto !important;
}

.modal-content {
    height: 80% !important;
    min-height: 80% !important;
    height: auto !important;
    border-radius: 0 !important;
}

.jewelCount {
    position: absolute;
    right: -1px;
    top: 0;
}

._3z_5 {
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}

._5ugg,
._3z_5 {
    background-color: #dc0d17;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
    background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    padding: 1px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

._51lp {
    -webkit-background-clip: padding-box;
    display: inline-block;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: normal;
    min-height: 20px;
    min-width: 15px;
    background-color: #dc0d17;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
    background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    padding: 1px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    margin-right: -10px;
    border-radius: 4px;
}

.widget .widget-header {
    color: #FFFFFF !important;
    background-color: #2d96cd !important
}

.row.header {
    background-color: #2d96cd !important
}

.row.header .meta .page {
    font-size: 20px!important;
    color: #fff !important;
}

.row.header .user>.item a {
    color: #FFFFFF !important;
}

.active_date {
    color: blue;
}

#icc_box .icon {
    color: #999999;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}
/*panel stat*/

#sum_box .db {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#sum_box .icon {
    color: #999999;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

#sum_box h4 {
    text-align: left;
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#sum_box h4 span:last-child {
    font-size: 25px;
}

#sum_box p.description {
    margin-top: 0px;
    opacity: .6;
}

#sum_box .db:hover {
    background: #40516f;
    color: #fff;
}

#sum_box .db:hover .icon {
    opacity: 1;
    color: #fff;
}

#sum_box .db:hover p.description {
    opacity: 1;
}


/*panel stat*/

.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none;
    border-radius: 0 !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.panel > .panel-heading {
    font-size: 18px;
    padding: 7px 15px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-color: #e5e5e5 !important;
}

.panel > .panel-footer {
    font-size: 18px;
    padding: 7px 15px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.panel.panel-primary {
    border-color: #dc6767;
}

.panel.panel-primary > .panel-heading {
    color: #FFFFFF;
    background: #dc6767;
    border-color: #dc6767 !important;
}

.panel.panel-primary > .panel-footer {
    color: #FFFFFF;
    background: #dc6767;
    border-color: #dc6767 !important;
}

.panel.panel-red {
    border-color: #bf4346;
}

.panel.panel-red > .panel-heading {
    color: #FFFFFF;
    background: #bf4346;
    border-color: #bf4346 !important;
}

.panel.panel-red > .panel-footer {
    color: #FFFFFF;
    background: #bf4346;
    border-color: #bf4346 !important;
}

.panel.panel-orange {
    border-color: #e9662c;
}

.panel.panel-orange > .panel-heading {
    color: #FFFFFF;
    background: #e9662c;
    border-color: #e9662c !important;
}

.panel.panel-orange > .panel-footer {
    color: #FFFFFF;
    background: #e9662c;
    border-color: #e9662c !important;
}

.panel.panel-green {
    border-color: #488c6c;
}

.panel.panel-green > .panel-heading {
    color: #FFFFFF;
    background: #488c6c;
    border-color: #488c6c !important;
}

.panel.panel-green > .panel-footer {
    color: #FFFFFF;
    background: #488c6c;
    border-color: #488c6c !important;
}

.panel.panel-yellow {
    border-color: #f2994b;
}

.panel.panel-yellow > .panel-heading {
    color: #FFFFFF;
    background: #f2994b;
    border-color: #f2994b !important;
}

.panel.panel-yellow > .panel-footer {
    color: #FFFFFF;
    background: #f2994b;
    border-color: #f2994b !important;
}

.panel.panel-blue {
    background: #ffffff;
    /* Old browsers */
    border-color: #d8d8d8;
}

.panel.panel-blue > .panel-heading {
    color: #FFFFFF;
    background: #0a819c;
    border-color: #0a819c !important;
}

.panel.panel-blue > .panel-footer {
    color: #FFFFFF;
    background: #0a819c;
    border-color: #0a819c !important;
}

.panel.panel-pink {
    border-color: #bf3773;
}

.panel.panel-pink > .panel-heading {
    color: #FFFFFF;
    background: #bf3773;
    border-color: #bf3773 !important;
}

.panel.panel-pink > .panel-footer {
    color: #FFFFFF;
    background: #bf3773;
    border-color: #bf3773 !important;
}

.panel.panel-violet {
    border-color: #9351ad;
}

.panel.panel-violet > .panel-heading {
    color: #FFFFFF;
    background: #9351ad;
    border-color: #9351ad !important;
}

.panel.panel-violet > .panel-footer {
    color: #FFFFFF;
    background: #9351ad;
    border-color: #9351ad !important;
}

.panel.panel-grey {
    border-color: #4b5d67;
}

.panel.panel-grey > .panel-heading {
    color: #FFFFFF;
    background: #4b5d67;
    border-color: #4b5d67 !important;
}

.panel.panel-grey > .panel-footer {
    color: #FFFFFF;
    background: #4b5d67;
    border-color: #4b5d67 !important;
}

.panel.panel-dark {
    border-color: #594857;
}

.panel.panel-dark > .panel-heading {
    color: #FFFFFF;
    background: #594857;
    border-color: #594857 !important;
}

.panel.panel-dark > .panel-footer {
    color: #FFFFFF;
    background: #594857;
    border-color: #594857 !important;
}

.panel.panel-white {
    border-color: #efefef;
}

.panel.panel-white > .panel-heading {
    border-bottom: 1px solid #faf9fb;
    color: #999999;
    background: #FFFFFF;
}

.panel.panel-white > .panel-footer {
    border-top: 1px solid #faf9fb;
    color: #999999;
    background: #FFFFFF;
}

.hath {
    cursor: pointer;
}

.active_date_red {
    color: #ff0000 !important;
}

.bc {
    font-size: 19px;
}

.dwnld {
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}


/*Added by Mahiruddin Seikh on: 09/11/2015*/

.comment {
    text-align: center;
}

.close {
    margin: 0 auto;
    position: relative;
}


/*Added by Mahiruddin Seikh on: 20/11/2015*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.padbottom {
    padding-bottom: 10px;
}

.thumbnail1 {
    display: inline-block;
    padding: 4px;
    width: 126px;
    height: 135px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    /*-webkit-transition: all .2s ease-in-out;*/
    /*-o-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;

}

.thumbnail1 :hover{
    -webkit-transform:scale(2.25); /* Safari and Chrome */
    -moz-transform:scale(2.25); /* Firefox */
    -ms-transform:scale(2.25); /* IE 9 */
    -o-transform:scale(2.25); /* Opera */
    transform:scale(2.25);
}
.thumbnail1 :active{
    border: 2px solid #000;
}

ul.tabss {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tabss li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}
ul.tabss li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
ul.tabss li.active {
  background: gray;
}
ul.tabss li.active a {
  color: white;
  background-color: #00A000;
}
.clr {
  clear: both;
}
article {
  border-top: gray solid 1px;
  padding: 0 1em;
}

.chart-bar{
  chart-data: parallel data;
  chart-labels: x axis labels;
}
.chart-pie{
  chart-data: parallel data;
  chart-labels: parallel labels;
}
.chart-doughnut{
  chart-data: parallel data;
  chart-labels: parallel labels;
}

.modal-footer {   border-top: 0px; }
