<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.css" />
    <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/sb-admin.css"/>

    <!-- endbuild -->
</head>

<body ng-app="loyalty.survey.ui">
<title>{{title.title}}</title>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<div ui-view></div>

<div ng-controller="LoaderCtrl">
    <div class="locked" ng-show="loading">
        <div style="position:relative; top:11%; left:-13%;" class="lockedpanel">
            <div class="loading"><img src="./images/loader.gif"></div>
        </div>
    </div>
</div>
<!-- End Page Wrapper -->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>
<!--[if lt IE 9]>
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>

<!-- endbower -->
<!-- endbuild -->
<script src="branding/config.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/login_ctrl.js"></script>
<script src="scripts/controllers/loadercontroller.js"></script>
<script src="scripts/controllers/main_base.js"></script>
<script src="scripts/controllers/alertcontroller.js"></script>
<script src="scripts/controllers/retailer_details.js"></script>
<script src="scripts/controllers/feedback.js"></script>
<script src="scripts/controllers/create_login_caller_user.js"></script>
<script src="scripts/controllers/create_feedback_question.js"></script>

<script src="scripts/services/login_service.js"></script>
<script src="scripts/services/util_service.js"></script>
<script src="scripts/services/notification_service.js"></script>
<script src="scripts/services/retailer_details_service.js"></script>
<script src="scripts/services/feedback_service.js"></script>
<script src="scripts/services/common_service.js"></script>

<!--new-->

<script src="scripts/controllers/call_details.js"></script>
<!-- endbuild -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.0.0/angular-chart.min.js"></script>

<div ng-controller="alertctrl">
    <div class="customMSGbox_overlay " ng-show="alert_msg">
        <div class="customMSGbox ui-corner-all">
            <div class="msgcontent">
                <!--<label ng-model="{{alrt_message}}"></label>-->
                {{alrt_message}}
            </div>
            <div class="msgbtn">
                <button id="okmsgbox" class="ui-corner-all" ng-click="btn_ok()">Ok</button>
            </div>
        </div>
    </div>
</div>

<div ng-controller="alertctrl">
    <div class="customMSGbox_overlay " ng-show="confirm_msg">
        <div class="customMSGbox ui-corner-all">
            <div class="msgcontent">
                <!--<label ng-model="{{alrt_message}}"></label>-->
                {{confirm_message}}
            </div>
            <div class="msgbtn">
                <button style="width: 61px" class="ui-corner-all" ng-click="btn_confirm_true()">Ok</button>
                <button class="ui-corner-all" ng-click="btn_confirm_false()">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>
