<srd-widget>
  <div class="widget">
    <!--<srd-widget-header class="ng-scope ng-isolate-scope">

    </srd-widget-header>-->

    <style>
      ::-webkit-scrollbar {
        width: 3px;
        height: 2em
      }

      ::-webkit-scrollbar-button {
        background: #ccc
      }

      ::-webkit-scrollbar-track-piece {
        background: #888
      }

      ::-webkit-scrollbar-thumb {
        background: #eee
      }

    </style>

    <div id="page-wrapper">
      <div class="container-fluid">
      </div>
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-12">
            <h1 class="page-header">
              Call Details
            </h1>

            <div>

            </div>
            <div class="col-md-12">

              <ul class="col-md-12 tabs"
                  style="list-style-type: none !important; margin: 0 !important; margin-left: 2% !important; padding: 0 !important;">
                <li
                  style="border: #3a4757 solid 1px; background-color: #3a4757; border-top-left-radius: .55em; border-top-right-radius: .55em; border-bottom: none; float: left;  margin: 0 .1em 0 0; padding: .4em 1.2em;">
                  <a href="#tab1" style="color: #fff;" ng-click="get_callas('Pending')">Pending</a></li>
                <li
                  style="border: #3a4757 solid 1px; background-color: #3a4757;  border-top-left-radius: .55em; border-top-right-radius: .55em; border-bottom: none; float: left;  margin: 0 .1em 0 0; padding: .4em 1.2em;">
                  <a href="#tab2" style="color: #fff;" ng-click="get_callas('Complete')">Completed</a></li>
                <li
                  style="border: #3a4757 solid 1px; background-color: #3a4757;  border-top-left-radius: .55em; border-top-right-radius: .55em; border-bottom: none; float: left;  margin: 0 .1em 0 0; padding: .4em 1.2em;">
                  <a href="#tab3" style="color: #fff;" ng-click="get_callas('WIP')">WIP</a></li>

                <li
                  style="border: #3a4757 solid 1px; background-color: #3a4757;  border-top-left-radius: .55em; border-top-right-radius: .55em; border-bottom: none; float: left;  margin: 0 .1em 0 0; padding: .4em 1.2em;">
                  <a href="#tab4" style="color: #fff;" ng-click="get_callas('Ignore')">Ignore</a></li>

              </ul>
           <!--   <div class="col-md-4" style="    position: relative;margin-left: 453px;margin-top: -37px;"><h4>Search</h4>
                <span> <input style="margin-top: -31px;margin-left: 74px;" class="form-control" type="text"
                              ng-model="search_data" ng-blur="search_by_data(search_data)" >
                 </span></div>
              <div class="clr"></div>-->

              <div class="form-group col-xs-6">
            <!--    <label class="control-label">
                  <code>.inner-addon.<i>right</i>-addon</code>
                </label>-->
                <div class="col-md-6" style="position: relative;margin-left: 467px;margin-top: -27px;width: 81%;">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" ng-model="search_data">
                  <span class="input-group-addon">
        <i class="fa fa-search" ng-click="search_by_data(search_data)"></i>
    </span>
                </div>
                  </div>
            </div>
          </div>
        </div>


        <div class="tab-content clearfix">
          <div class="tab-pane active" id="1b">
            <div class="col-md-12" style="margin-top: 2%;">
              <div ng-show="wip_user_show">
                Users :  <span style="margin-right: 15px" ng-repeat="usr in caller_list"><a ng-click="get_user_user_wip_data(usr)">{{usr.user_id}}</a></span>
              </div>
              <table class="table table-bordered" style=" border-collapse:collapse " table-layout:fixed;>
                <thead>
                <tr style="table-layout:fixed;width:20px">
                  <th style="table-layout:fixed;
  width:200px;">
                    Name
                  </th>
                  <th style="table-layout:fixed;
  width:200px;">
                    Shop Name
                  </th>
                  <th style="table-layout:fixed;
  width:200px;">
                    Mobile
                  </th>
                  <th style="table-layout:fixed;
  width:200px;">
                    State
                  </th>
                  <th style="table-layout:fixed;
  width:200px;">
                    Remarks
                  </th>
                  <th style="table-layout:fixed;
  width:200px;">
                    User Id(WIP)
                  </th>
                  <th style="table-layout:fixed;
  width:200px;">
                    Status
                  </th>
                </tr>
                </thead>


              </table>
            </div>
          </div>
        </div>


        <section
        ="block">
        <srd-widget-body classes="" class="">
          <div class="widget-body medium no-padding" style="height: 350px" ng-class="classes"
               id="pndinggridscroll">
            <rd-loading ng-show="loading" class="ng-hide">
              <div class="loading">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </rd-loading>
            <div ng-hide="loading" class="widget-content">


              <article id="tab1">
                <div class="tab-content clearfix">
                  <div class="tab-pane active" id="1b">
                    <div class="col-md-12">
                      <table class="table table-bordered" style="  border-collapse:collapse width:90%"
                             table-layout:fixed;
                      >


                        <tbody>
                        <tr class="success" ng-repeat="cls in calls_sata|filter :retailer_data_search"
                            table-layout:fixed;
                            width:20px;>
                          <td style="table-layout:fixed;
  width:200px;">
                            {{cls.retailer_name}}
                          </td>
                          <td style="table-layout:fixed;
  width:200px;">
                            {{cls.outlet_name}}
                          </td>
                          <td style="table-layout:fixed;
  width:200px;">
                            <a data-toggle="modal"  ng-click="get_retailer_data(cls)"
                               ng-model="retailer_registered_mobile">{{cls.retailer_registered_mobile}}</a>
                          </td>
                          <td style="table-layout:fixed;
  width:200px;">
                            {{cls.retailer_address}}
                          </td>
                          <td style="table-layout:fixed;
  width:200px;">
                            {{cls.remarks}}
                          </td>
                          <td style="table-layout:fixed;
  width:200px;">
                            {{cls.wip_user.user_id}}
                          </td>
                          <td style="table-layout:fixed;
  width:200px;">
                            {{cls.call_status}}
                          </td>
                        </tr>
                        </tbody>


                      </table>
                    </div>
                  </div>
                </div>


              </article>


              <!-- <article id="tab2">

               <div class="tab-content clearfix">
                   <div class="tab-pane active" id="1b">
                     <div class="col-md-12" style="margin-top: 2%;">
                       <table class="table table-bordered">
                         <thead>
                         <tr>
                           <th>
                             Name
                           </th>
                           <th>
                             Shop Name
                           </th>
                           <th>
                             Mobile
                           </th>
                           <th>
                             State
                           </th>
                           <th>
                             City
                           </th>
                           <th>
                             Status
                           </th>
                         </tr>
                         </thead>
                         <tbody>

                         <tr class="success" ng-repeat="cls in calls_sata">
                           <td>
                             {{cls.retailer_name}}
                           </td>
                           <td>
                             {{cls.outlet_name}}
                           </td>
                           <td>
                             &lt;!&ndash;<a data-toggle="modal" data-target="#gridSystemModal" ng-click="get_retailer_data(cls)">{{cls.retailer_registered_mobile}}</a>&ndash;&gt;
                             {{cls.retailer_registered_mobile}}
                           </td>
                           <td>
                             {{cls.retailer_state}}
                           </td>
                           <td>
                             {{cls.retailer_city}}
                           </td>
                           <td>
                             {{cls.call_status}}
                           </td>
                         </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </article>
               <article id="tab3">
                 <div class="tab-content clearfix">
                   <div class="tab-pane active" id="1b">
                     <div class="col-md-12" style="margin-top: 2%;">
                       <table class="table table-bordered">
                         <thead>
                         <tr>
                           <th>
                             Name
                           </th>
                           <th>
                             Shop Name
                           </th>
                           <th>
                             Mobile
                           </th>
                           <th>
                             State
                           </th>
                           <th>
                             City
                           </th>
                           <th>
                             Status
                           </th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr class="success" ng-repeat="cls in calls_sata">
                           <td>
                             {{cls.retailer_name}}
                           </td>
                           <td>
                             {{cls.outlet_name}}
                           </td>
                           <td>
                             <a data-toggle="modal" data-target="#gridSystemModal" ng-click="get_retailer_data(cls)">{{cls.retailer_registered_mobile}}</a>
                           </td>
                           <td>
                             {{cls.retailer_state}}
                           </td>
                           <td>
                             {{cls.retailer_city}}
                           </td>
                           <td>
                             {{cls.call_status}}
                           </td>
                         </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </article>
               <article id="tab4">
                 <div class="tab-content clearfix">
                   <div class="tab-pane active" id="1b">
                     <div class="col-md-12" style="margin-top: 2%;">
                       <table class="table table-bordered">
                         <thead>
                         <tr>
                           <th>
                             Name
                           </th>
                           <th>
                             Shop Name
                           </th>
                           <th>
                             Mobile
                           </th>
                           <th>
                             State
                           </th>
                           <th>
                             City
                           </th>
                           <th>
                             Status
                           </th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr class="success" ng-repeat="cls in calls_sata">
                           <td>
                             {{cls.retailer_name}}
                           </td>
                           <td>
                             {{cls.outlet_name}}
                           </td>
                           <td>
                             &lt;!&ndash;<a data-toggle="modal" data-target="#gridSystemModal" ng-click="get_retailer_data(cls)">{{cls.retailer_registered_mobile}}</a>&ndash;&gt;
                           {{cls.retailer_registered_mobile}}
                           </td>
                           <td>
                             {{cls.retailer_state}}
                           </td>
                           <td>
                             {{cls.retailer_city}}
                           </td>
                           <td>
                             {{cls.call_status}}
                           </td>
                         </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>

               </article>
               </article>
               <article id="tab5">
                 <div class="tab-content clearfix">
                   <div class="tab-pane active" id="1b">
                     <div class="col-md-12" style="margin-top: 2%;">
                       <table class="table table-bordered">
                         <thead>
                         <tr>
                           <th>
                             Name
                           </th>
                           <th>
                             Shop Name
                           </th>
                           <th>
                             Mobile
                           </th>
                           <th>
                             State
                           </th>
                           <th>
                             City
                           </th>
                           <th>
                             Status
                           </th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr class="success" ng-repeat="cls in calls_sata">
                           <td>
                             {{cls.retailer_name}}
                           </td>
                           <td>
                             {{cls.outlet_name}}
                           </td>
                           <td>
                             <a data-toggle="modal" data-target="#gridSystemModal" ng-click="get_retailer_data(cls)">{{cls.retailer_registered_mobile}}</a>
                           </td>
                           <td>
                             {{cls.retailer_state}}
                           </td>
                           <td>
                             {{cls.retailer_city}}
                           </td>
                           <td>
                             {{cls.call_status}}
                           </td>
                         </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </article>-->
              </section>


              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Pairs Details</h4>
                    </div>
                    <div class="modal-body">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                          <thead>
                          <tr>
                            <th>Date</th>
                            <th>Pairs</th>
                            <th>Coupons</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>10.01.2016</td>
                            <td>1000</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>11.01.2016</td>
                            <td>1000</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>12.01.2016</td>
                            <td>1000</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>13.01.2016</td>
                            <td>1000</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>14.01.2016</td>
                            <td>1000</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>15.01.2016</td>
                            <td>1000</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>16.01.2016</td>
                            <td>1000</td>
                            <td>50</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div id="gridSystemModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel"
                 aria-hidden="true">

              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Additinal Info</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group inputstyle" >
                          <span class="input-group-addon" id="basic-addon1">Mobile 1</span>
                          <input type="text" class="form-control" class="input-group-addon" style="width:100%;"
                                 ng-model="retailer_data.retailer_registered_mobile" ng-disabled="true">
                        </div>
                        <div class="col-md-6 pull-right">
                        <div class="input-group inputstyle" style="    margin-top: -34px;
    /* margin-right: 19px; */
    margin-left: 118px;">
                          <span class="input-group-addon" id="basic-addon1">Mobile 2</span>
                          <input type="text" class="form-control"  style=    "width: 500%"
                                 ng-model="retailer_data.retailer_contacts[0].contact_mobile_2"
                                 ng-disabled="true">
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="input-group inputstyle pull-left" style="    position: relative;
    /* margin-bottom: 11px; */
    margin-top: 35px;
    /* margin-right: -16px; */
    width: 114%";>
                          <span class="input-group-addon" id="basic-addon1">Owner Name</span>
                          <input type="text" class="form-control" ng-disabled="true"  style=" width: 260%;"
                                 ng-model="retailer_data.retailer_name">
                        </div>
                        </div>
                        <div class="col-md-12" style="    margin-top: 14px;">
                        <div class="input-group inputstyle">
                          <span class="input-group-addon" id="basic-addon1">Shop Name</span>
                          <input type="text" class="form-control" style="width: 311%" ng-model="retailer_data.outlet_name"
                                 ng-disabled="true">
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="input-group inputstyle" style="    margin-top: 14px;">
                          <span class="input-group-addon" id="basic-addon1">Response</span>
                          <select ng-model="input_data.call_status"  style="width: 282%;">
                            <option value="RNR">RNR</option>
                            <option value="Call Back">Call Back</option>
                            <option value="Do Not Want To Participate">Do Not Want To Participate</option>
                            <option value="Wrong Number">Wrong Number</option>
                            <option value="No Shop">No Shop</option>
                            <option value="Invalid Shop">Invalid Shop</option>
                            <option ui-sref="main.retailer_details">Ready for Survey</option>
                          </select>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">




                      </div>
                      <div class="col-md-12">
                        <label>Remarks</label>
                        <br>
                        <textarea style="width:100%; height: 180px;" ng-model="input_data.remarks"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="complete_retailer_call(retailer_data,input_data)">Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <script>
      $(function () {
        $('ul.tabs li:first').addClass('active');
        $('.block article').hide();
        $('.block article:first').show();
        $('ul.tabs li').on('click', function () {
          $('ul.tabs li').removeClass('active');
          $(this).addClass('active');
          $('.block article').hide();
          var activeTab = $(this).find('a').attr('href');
          $(activeTab).show();
          return false;
        });
      })
    </script>

    <script>jQuery(function () {
      jQuery('#myTab a:last').tab('show')
    });
    </script>

    <script>
      jQuery(function () {
        jQuery('#myM a:last').tab('show')
      })
    </script>

  </div>
  </div>
  </srd-widget-body>
  </div>
</srd-widget>
