<!--<div class="container-fluid" >
  <div class="row">
      <div class="panel-group" class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
          Please Enter The Desired Questions !!
          </div>
          <div class="panel-collapse collapse in">
            <div class="panel-body">
              <div >
              <input type="text" placeholder="Question"  class="form-control" ng-model="super_admin.question">
                </div>
              <div class="col-xs-4">
                <label for="ex3">col-xs-4</label>
                <input class="form-control" id="ex3" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <button type="button" class="btn active btn-primary" ng-click="insert_desired_questions()">
    Add Question
  </button>
  </div>-->


<div class="container">
  <div class="row">
    <span>
    <div class="panel-heading">
      Please Enter The Desired Questions !!
    </div>
      <div class="panel-heading pull-right" style="position: relative;
    margin-top: -28px;
    /* margin-left: -28px; */
    margin-right: 47px;">
      Question Rank !!
    </div>
      </span>

    <div class="panel-body">
      <span>
      <div class="col-md-10" style="margin-left: -26px;">
        <input type="text" placeholder="Question" class="form-control" ng-model="super_admin.question">
      </div>
        <div class="col-md-2">
<input type="text" placeholder="Priority" class="form-control" ng-model="super_admin.rank">
        </div>
        </span>

    </div>
    <button type="button" class="btn active btn-primary" ng-click="insert_desired_questions()">
      Add Question
    </button>
  </div>
  <div class="row">
    <div class="panel-group" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center">
          Question List !!
        </div>
  </div>
      <div class="row clearfix" style="    height: 400px;
    /* overflow: visible; */
    /* overflow-x: scroll; */
    overflow-y: scroll;">


        <table class="table table-fixed" style="    position: relative;
    margin-top: 12px;" fixed-header>

          <thead>
          <tr>
            <th title="Invoice Number" style="background-color:#285e8e;color: #fff;font-size: 12px;">
              Questions
            </th>
            <th title="Invoice Date" style="background-color:#285e8e;color: #fff;font-size: 12px;">
              Question Rank
            </th>
            <th title="Invoice Date" style="background-color:#285e8e;color: #fff;font-size: 12px;">
             Created By
            </th>

            <!--<th title="Invoice Date" style="background-color:#285e8e;color: #fff;font-size: 12px;">
              Remove Question
            </th>-->
          </tr>
          </thead>
          <tbody >
          <tr data-ng-repeat="inv in questions_grid  | orderBy:'name'|filter:search_grid">
            <td>
              {{inv.question}}

            </td>
            <td>
              {{inv.rank }}
            </td>
            <td>
              {{inv.created_by }}
            </td>
            <td>
           <!--   <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#myModal" ng-click= "insert_points(inv)" >Remove Question</button>-->
            </td>
          </tr>

          </tbody>
        </table>
      </div>
</div>
  </div>
</div>



