<div class="row ng-scope">

  <div class="col-lg-6">
    <srd-widget>
      <div class="widget">
        <srd-widget-header icon="fa-tasks" title="Servers" class="ng-scope ng-isolate-scope">
          <div class="widget-header ng-binding">
            Caller Detail

          </div>
        </srd-widget-header>
        <srd-widget-body classes="medium no-padding" class="ng-scope ng-isolate-scope">


          <div ng-hide="loading" class="widget-content">
            <div class="table-responsive ng-scope form-horizontal">
              <div class="form-group form-group-lg toppadding">
                <label class="col-sm-4 control-label" for="lg">User ID</label>

                <div class="col-sm-8">
                  <input class="form-control" type="text" ng-model="userinfo_data.user_id">

                </div>
              </div>
              <div class="form-group form-group-lg toppadding">
                <label class="col-sm-4 control-label" for="lg">Email ID</label>

                <div class="col-sm-8">
                  <input class="form-control" type="text" ng-model="userinfo_data.user_email_id">

                </div>
              </div>
              <div class="form-group form-group-lg othpadding">
                <label class="col-sm-4 control-label" for="lg">User Type</label>

                <div class="col-sm-8">
                  <select class="form-control" ng-model="userinfo_data.user_type"
                          ng-change="change_type();">
                    <option value="">Select User Type</option>
                    <option value="Tele Caller">Tele Caller</option>
                    <option value="Super Tele Caller">Super Tele Caller</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-lg othpadding" ng-show="divregion">
                <label class="col-sm-4 control-label" for="lg">Region/State</label>

                <div class="col-sm-8">
                  <!--<input class="form-control" type="text" id="lg" ng-model="distributor_data.distributor_region">-->
                  <select class="form-control" ng-model="userinfo_data.user_region">
                    <option value="">Select State</option>
                    <option ng-repeat="osl in Region_list" value="{{osl.value}}">{{osl.value}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group form-group-lg othpadding">
                <label class="col-sm-4 control-label" for="lg">First Name</label>

                <div class="col-sm-8">
                  <input class="form-control" type="text" id="lg"
                         ng-model="userinfo_data.user_first_name">
                </div>
              </div>
              <div class="form-group form-group-lg othpadding">
                <label class="col-sm-4 control-label" for="lg">Middle Name</label>

                <div class="col-sm-8">
                  <input class="form-control" type="text" id="lg"
                         ng-model="userinfo_data.user_middle_name">
                </div>
              </div>
              <div class="form-group form-group-lg othpadding">
                <label class="col-sm-4 control-label" for="lg">Last Name</label>

                <div class="col-sm-8">
                  <input class="form-control" type="text" id="lg"
                         ng-model="userinfo_data.user_last_name">
                </div>
              </div>
              <div class="form-group form-group-lg othpadding">
                <label class="col-sm-4 control-label" for="lg">Designation</label>

                <div class="col-sm-8">
                  <input class="form-control" type="text" ng-model="userinfo_data.user_designation">
                </div>
              </div>
              <div class="form-group form-group-lg othpadding">
                <label class="col-sm-4 control-label" for="lg">Password</label>

                <div class="col-sm-8">
                  <input class="form-control" type="password" ng-model="userinfo_data.user_password">
                </div>
              </div>
              <div class="form-group form-group-lg othpadding">
                <label class="col-sm-4 control-label" for="lg">Confirm Password</label>

                <div class="col-sm-8">
                  <input class="form-control" type="password" ng-model="userinfo_data.confirm_user_password" ng-blur="validate_confirm_password()">    <a  ng-hide="match_password" class="glyphicon glyphicon-ok"></a>  <a  ng-hide="wrong_password" class="glyphicon glyphicon-remove">These passwords don't match. Try again?</a>
                </div>
              </div>

              <div class="pull-right">
                <button class="btn btn-sm btn-info margin7 ng-scope" ng-click="user_info_data_save();"
                >Save
                </button>
                <!--<button class="btn btn-sm btn-info margin7 ng-scope" ng-click="addnew_distributor_data();">Add New</button>-->
                <button class="btn btn-sm btn-info margin7 ng-scope" ng-click="clear_data();">Cancel
                </button>

                <button class="btn btn-sm btn-info margin7 ng-scope" ui-sref="main.created_feedback_question">Add FeedBack Question
                </button>
              </div>


            </div>

          </div>

        </srd-widget-body>

      </div>
    </srd-widget>
  </div>
  <div class="col-lg-6">
    <srd-widget>
      <div class="widget">
        <srd-widget-header icon="fa-tasks" title="Striped Servers" class="ng-scope ng-isolate-scope">
          <div class="widget-header ng-binding">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="search_value" placeholder="Search"
              >
              <span class="input-group-addon" style="cursor: pointer">
                        <i class="fa fa-search"></i>
                    </span>
            </div>
          </div>
        </srd-widget-header>
        <srd-widget-body classes="medium no-padding" class="ng-scope ng-isolate-scope">
          <div class="widget-body medium no-padding" style="height: 500px" ng-class="classes">
            <rd-loading ng-show="loading" class="ng-hide">
              <div class="loading">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </rd-loading>
            <div ng-hide="loading" class="widget-content">
              <div class="table-responsive ng-scope">
                <table class="table">
                  <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>User Id/Email ID</th>
                    <th>Type</th>
                    <th>Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="usr in userinfo_griddata | filter :search_value">
                    <td class="text-center"><input type="radio" name="id"
                                                   ng-click="pop_userinfo_data(usr);"></td>
                    <td>{{usr.user_id}}</td>
                    <td>{{usr.user_type}}</td>
                    <td>{{usr.user_first_name}}</td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </srd-widget-body>
        <srd-widget-footer class="ng-scope">
          <!--<div class="widget-footer">
            <span style="float: left">Page No: {{userinfogrid.page_no}}</span>

            <span style="float: left;margin-left: 30px;color: red">{{gridmsg}}</span>
            <ul class="pager">
              <li class="next"><a ng-click="userinfogrid.next()">Next &rarr;</a></li>
              <li class="next"><a ng-click="userinfogrid.prev()">&larr; Previous</a></li>

              &lt;!&ndash;<li class="next"><a ng-click="refresh()">First</a></li>&ndash;&gt;
            </ul>
          </div>-->
        </srd-widget-footer>
      </div>
    </srd-widget>
  </div>
</div>
