
<div class="col-md-8 col-md-push-2">
  <div ng-repeat="que in question_list">
    <div>
      <p class="questions">{{que.question}}</p>
    </div>
    <div>
      <textarea type="text" rows="8" class="form-control" ng-model="answer_list[$index]"></textarea>
    </div>
  </div>
  <div>

      Remarks  <textarea type="text" rows="8" class="form-control" ng-model="survey_data.remarks"></textarea>
    <button class="btn btn-lg btn-success" ng-click="send_answer()" style="margin: 20px 0">Send Answers</button>
    Send Movie Tickets <input type="checkbox"  ng-model="survey_data.movie_tickets_status"  ng-checked="survey_data.movie_tickets">

    <button class="btn btn-lg btn-success" ui-sref="main.retailer_details" style="margin: 20px 0">Retailer Address</button>
  </div>


</div>
