<div  class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="position: relative;top: 127px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <!--<h1 class="text-center" >Login</h1>-->

        <img src="./images/images/annectos.jpg" style="text-align: center;margin-left: 127px">



            <div class="form-group">
              <input type="text" class="form-control" placeholder="User ID" ng-model="user_id">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" ng-click="login_user()">Sign In</button>
              <!--<span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>-->
            </div>

      </div>
      <!--<div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>-->
    </div>
  </div>
</div>
