<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="./images/images/annectos.jpg" height="100%">
    </div>


    <a   ui-sref="main.create_login_caller_user"> <button type="button" class="btn btn-sm btn-info ng-scope" style="position: relative;
    left: 725px;" ng-if="user_info.user_type == 'Super Tele Caller'">Create New User
    </button></a>

    <a  ui-sref=".call_details"><button type="button" class="btn btn-sm btn-info ng-scope" style="position: relative;
    left: 725px;"
    >Calling Page
    </button> </a>

    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
          {{user_data.distributor_name}}<b
            class="caret"></b></a>
        <ul class="dropdown-menu">
          <a href="" ng-click="log_out()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
        </ul>
      </li>
    </ul>
<!--
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">

        <li class="">
          <a ng-href="#/main/create_login_caller"><i class="fa fa-fw fa-tasks"></i>Create Caller</a>
        </li>
      </ul>
    </div>-->
  </nav>

  <div ui-view></div>

</div>



