<div class="row ng-scope">
  <!--sum box starts here-->

    <!--sum box starts here-->
    <div style="margin-top: 30px" class="col-lg-12">
      <div id="sum_box" class="row mbl">
        <div class="col-sm-6 col-md-3">
          <div class="panel income db mbm">
            <div class="panel-body">
              <p class="icon">
                <i class="icon fa fa-male"></i>
              </p>
              <p class="description">
                Retailer Details</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel task db mbm">
            <div class="panel-body">
              <p class="icon">
                <i class="icon fa fa-building-o"></i>
              </p>
              <h5 class="value">
                <span>Shop Details</span></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel visit db mbm">
            <div class="panel-body">
              <p class="icon">
                <i class="icon fa fa-inbox"></i>
              </p>
              <h5 class="value">
                <span>Extra Details</span></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="panel income db mbm">
            <div class="panel-body">
              <p class="icon">
                <i class="icon fa fa-heart"></i>
              </p>
              <h5 class="value">Family Details</span><span></span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- sum box ends here -->
  <!-- main form container ends here-->
  <div class="col-lg-12">
    <!--left pane starts here-->
    <div class="col-md-6">
      <div class="table-responsive ng-scope form-horizontal">
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Owner Name</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" ng-model="retailer_data.retailer_name" placeholder="Owner Name">
          </div>
        </div>
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Your Email</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.emailid" placeholder="Your Email">
          </div>
        </div>
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Mobile 1</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.retailer_registered_mobile"
                   placeholder="Mobile 1">
          </div>
        </div>
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Mobile 2</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.contact_mobile_2"
                   placeholder="Mobile 2">
          </div>
        </div>
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Your DOB</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.birthday" placeholder="Your DOB">
          </div>
        </div>
        <!--<div class="form-group form-group-lg toppadding">
           <label class="col-sm-4 control-label" for="lg">State</label>

           <div class="col-sm-8">
             <input class="form-control" type="text" id="lg" ng-model="retailer_data.retailer_state" placeholder="State">
           </div>
         </div>-->
        <!--<div class="form-group form-group-lg toppadding">-->
        <!--<label class="col-sm-4 control-label" for="lg">Distributor Name</label>-->

        <!--<div class="col-sm-8">-->
        <!--<input class="form-control" type="text" id="lg" ng-model="retailer_data.retailer_dist_name"-->
        <!--ng-disabled="true">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Retailer City</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.retailer_city" placeholder="City">
          </div>
        </div>
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Shop Name</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.outlet_name"
                   placeholder="Shop Name">
          </div>
        </div>

        <!--<div class="form-group form-group-lg topadding">-->
        <!--<label class="col-sm-4 control-label" for="lg">Retailer Street</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input class="form-control" type="text" id="lg" ng-model="retailer_data.locality" placeholder="Street" >-->
        <!--</div>-->

        <!--</div>-->
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Landmark</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="retailer_data.landmark" placeholder="Landmark">
          </div>
        </div>
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Retailer State</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="retailer_data.retailer_address"
                   placeholder="Shop Address">
          </div>
        </div>
        <!--<div class="form-group form-group-lg topadding">-->
        <!--<label class="col-sm-4 control-label" for="lg">TIN number</label>-->

        <!--<div class="col-sm-8">-->
        <!--<textarea class="form-control" type="text" id="lg"-->
        <!--ng-model="retailer_data.tin_number" placeholder="Tin Number" ></textarea>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Pin Code</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="retailer_data.pincode" placeholder="Pin Code">
          </div>

        </div>
        <!--<div class="form-group form-group-lg topadding">-->
        <!--<label class="col-sm-4 control-label" for="lg">Preffered Language</label>-->

        <!--<div class="col-sm-8">-->
        <!--<select class="form-control" ng-model="retailer_data.preffered_language">-->
        <!--<option value="English">English</option>-->
        <!--<option value="Hindi">Hindi</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->

        <div class="col-sm-2">
          <button type="button" class="btn btn-sm btn-info ng-scope"
                  ng-click="save_retailer_data(retailer_data)">Save Retailer Details
          </button>

        </div>

      </div>
    </div>
    <!--left pane ends here-->
    <!--right pane starts here-->
    <div class="col-md-6">
      <div class="table-responsive ng-scope form-horizontal">
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Shop State</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="retailer_data.retailer_state" placeholder="State">
          </div>

        </div>
        <!--<div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">City</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="retailer_data.retailer_city" placeholder="Shop Address">
          </div>
        </div>-->
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Shop Address</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="retailer_data.retailer_district"
                   placeholder="Shop Address">
          </div>
        </div>
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Brand Sold</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" ng-model="retailer_data.brand_sold" placeholder="Brand Sold">
          </div>
        </div>
        <!--<div class="form-group form-group-lg toppadding">-->
        <!--<label class="col-sm-4 control-label" for="lg">Business Type</label>-->

        <!--<div class="col-sm-8">-->
        <!--<input class="form-control" type="text" id="lg" ng-model="retailer_data.business_type" placeholder="Business Type">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Shop Size</label>
          <div class="col-sm-8">
            <input class="form-control" type="number" id="lg" ng-model="retailer_data.shop_size"
                   placeholder="Shop Size">
          </div>
        </div>
        <div class="form-group form-group-lg toppadding">
          <label class="col-sm-4 control-label" for="lg">Salesman Count</label>

          <div class="col-sm-8">
            <input class="form-control" type="number" id="lg" ng-model="retailer_data.sales_man_count"
                   placeholder="Sales Count">
          </div>
        </div>


        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Smart Phone</label>
          <div class="col-sm-8">
            <select class="form-control" ng-model="retailer_data.smart_phone">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>

          </div>
        </div>
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Landline</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" ng-model="retailer_data.landline" placeholder="LandLine">
          </div>
        </div>
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">Business Anniversary</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.business_anniversary"
                   placeholder="Business Anniversary">
          </div>
        </div>
        <!--<div class="form-group form-group-lg topadding">-->
        <!--<label class="col-sm-4 control-label" for="lg">Marriage Anniversary</label>-->

        <!--<div class="col-sm-8">-->
        <!--<input class="form-control" type="text" id="lg" ng-model="retailer_data.marriage_anniversary"  placeholder="Marriage Anniversary">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg">No Of Children</label>

          <div class="col-sm-8">
            <input class="form-control" type="text" id="lg" ng-model="retailer_data.no_of_children"
                   placeholder="No Of Children">
          </div>

        </div>
        <div class="form-group form-group-lg topadding">
          <label class="col-sm-4 control-label" for="lg"> Remarks</label>
          <textarea style="    width: 62%;
    height: 65px;
    margin-left: 225px;" ng-model="retailer_data.remarks" placeholder="Please Enter Your Remarks Here!!"></textarea>
        </div>
        </div>
        <!--<div class="form-group form-group-lg topadding">-->

        <!--<label class="col-sm-4 control-label" for="lg">Weekly Off</label>-->

        <!--<div class="col-sm-8">-->
        <!--<input class="form-control" type="number" id="lg" ng-model="retailer_data.weekly_of" placeholder="Weekly Off">-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--right pane ends here-->
      </div>
      <!-- main form container ends here-->
    </div>
    <div>
      <div class="col-md-12">
        <div class="col-md-6" style="position: relative;
    margin-left: 228px;
    margin-top: -31px;">
          <label>
            Address Confirmed
          </label>
          <input type="checkbox"  ng-model="address.address_confirmed"  ng-checked="address.address_confirmed">
          <!--Send Movie Tickets <input type="checkbox"  ng-model="survey_data.movie_tickets_status"  ng-checked="survey_data.movie_tickets">-->
        </div>
        <div class="col-md-6" style="position: relative;
    margin-left: 427px;
    margin-top: -15px;">
          <div class="col-md-4">
            <div class="input-group inputstyle" style="    margin-top: -20px;">
              <span class="input-group-addon" id="basic-addon1">Response</span>
              <select ng-model="retailer_data.call_status" style="width: 282%;" ng-change="check_status(retailer_data.call_status)">
                <option></option>
                <option value="RNR">RNR</option>
                <option value="Call Back">Call Back</option>
                <option value="Do Not Want To Participate">Do Not Want To Participate</option>
                <option value="Wrong Number">Wrong Number</option>
                <option value="No Shop">No Shop</option>
                <option value="Invalid Shop">Invalid Shop</option>
                <option ui-sref="main.feedback">Ready for Survey</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

